NODE_ENV=development
PORT=3000
MONGODB_URI=mongodb+srv://<db-user>:<password>@<cluster>.mongodb.net/solar_api_dev?retryWrites=true&w=majority
JWT_SECRET=change-me-long-random
JWT_ISSUER=slsea-api
USER_TOKEN_TTL=1h
DEVICE_TOKEN_TTL=24h
PUBLIC_BASE_URL=http://localhost:3000
SEED_RANDOM=slsea-2026
